[Unit]
Description=Ejecuta el respaldo del Evento Coopetrol todos los días a las 2:30 a. m.

[Timer]
OnCalendar=*-*-* 02:30:00
Persistent=true
RandomizedDelaySec=10min

[Install]
WantedBy=timers.target
